<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-auto text-cenetr">
      <span class="title">Editar Categoría</span>
      <div class="reloj">
        <app-clocks [index]="category.id" [style]="category.clock_style"></app-clocks>
      </div>
    </div>
  </div>

  <div class="row justify-content-center row_main_form">
    <div class="col-auto">
      <div class="row row_form">
        <div class="col-4 text-center">
          <span class="txts">Nombre</span>
        </div>
        <div class="col-8">
          <input
            type="text"
            class="form-control input_form text_style"
            aria-describedby="basic-addon1"
            [value]="category.name"
          />
        </div>
      </div>
      <div class="row row_form row_form_second">
        <div class="col-4 text-center">
          <span class="txts">Descripción</span>
        </div>
        <div class="col-8">
          <textarea
            class="form-control text_area_form text_style"
            aria-label="With textarea"
          >{{ category.description }}</textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center row_main_form">
    <div class="col-auto">
      <div class="row row_form">
        <div class="col-6">
          <button type="button" class="btn btn-save" (click)="save()">
            Guardar
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-cancel" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
