<div id="wrapper">
  <main class="container-fluid">
    <div class="container">
      <div class="row">
        <h1 class="subtitulos_web" id="titulo_login">Próximas</h1>
      </div>
      <div *ngFor="let alarm of alarms['earlies']" class="row" id="alarm_item_row">
        <div class="col-12 col-md-3">
          <p class="descripciones_web" id="alarm_category">{{alarm.category}}</p>
          <app-clocks id="clock_component" [index]="getId(alarm)"></app-clocks>
        </div>
        <div class="col-12 col-md-3">
          <div class="row">
            <h2 class="subtitulos_web" id="alarm_title">{{alarm.title}}</h2>
          </div>
          <div class="row">
            <div class="form-check form-switch">
              <input class="form-check-input switch" type="checkbox" role="switch" id="alarm_switch" checked>
            </div>
          </div>
          <div class="row">
            <h3 class="etiqueta_web" id="alarm_hour_label">{{alarm.hour_label}}</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row days-checkboxes"  *ngFor="let day of days">
            <input class="form-check-input checkbox-day" type="checkbox" value="" id="flexCheckDefault" disabled=false [checked]="validateDay(day, alarm.days)">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{day.label}}</label>
          </div>
          <div class="row">
            <textarea class="form-control text_area_form text_style" aria-label="With textarea" disabled=true>{{alarm.description}}</textarea>
          </div>
        </div>
        <div class="col-12 col-md-2">
            <button class="btn btn-edit" id="alarm_edit_button" (click)="edit()">Editar</button>
            <button class="btn btn-delete" id="alarm_edit_button">Eliminar</button>
        </div>
      </div>

      <div class="row">
        <h1 class="subtitulos_web" id="titulo_login">Siguientes</h1>
      </div>

      <div *ngFor="let alarm of alarms['nexts']" class="row" id="alarm_item_row">
        <div class="col-12 col-md-3">
          <p class="descripciones_web" id="alarm_category">{{alarm.category}}</p>
          <app-clocks id="clock_component" [index]="getId(alarm)" [style]="getId(alarm).toString()"></app-clocks>
        </div>
        <div class="col-12 col-md-3">
          <div class="row">
            <h2 class="subtitulos_web" id="alarm_title">{{alarm.title}}</h2>
          </div>
          <div class="row">
            <div class="form-check form-switch">
              <input class="form-check-input switch" type="checkbox" role="switch" id="alarm_switch" checked>
            </div>
          </div>
          <div class="row">
            <h3 class="etiqueta_web" id="alarm_hour_label">{{alarm.hour_label}}</h3>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="row days-checkboxes"  *ngFor="let day of days">
            <input class="form-check-input checkbox-day" type="checkbox" value="" id="flexCheckDefault" disabled=false [checked]="validateDay(day, alarm.days)">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{day.label}}</label>
          </div>
          <div class="row">
            <textarea class="form-control text_area_form text_style" aria-label="With textarea" disabled=true>{{alarm.description}}</textarea>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <button class="btn btn-edit" id="alarm_edit_button" (click)="edit()">Editar</button>
          <button class="btn btn-delete" id="alarm_edit_button">Eliminar</button>
        </div>
      </div>
    </div>
  </main>

  <div class="float_add">
    <button class="btn btn-save btn-add" (click)="create()"></button>
  </div>
</div>