.reloj_carousel {
  width: 200px !important;
  height: 145px !important;
  flex-shrink: 0 !important;
}

.reloj_inner {
  width: 70% !important;
  height: 100% !important;
  margin-left: 30px;
}

.carousel-control-prev-icon {
  background-image: url('/assets/images/arrow_left.png') !important;
  width: 50px !important;
  height: 50px !important;
}

.carousel-control-next-icon {
  background-image: url('/assets/images/arrow_right.png') !important;
  width: 50px !important;
  height: 50px !important;
}