<div id="carouselRelojs_{{index}}" class="carousel slide carousel-fade reloj_carousel">
  <div class="carousel-inner reloj_inner">
    <div class="carousel-item" [ngClass]="style === '1' ? 'active' : ''">
      <img src="/assets/images/reloj_basic.png" class="d-block w-100" alt="Reloj Clásico">
    </div>
    <div class="carousel-item" [ngClass]="style === '2' ? 'active' : ''">
      <img src="/assets/images/reloj_sport.png" class="d-block w-100" alt="Reloj Sport">
    </div>
    <div class="carousel-item" [ngClass]="style === '3' ? 'active' : ''">
      <img src="/assets/images/reloj_smart.png" class="d-block w-100" alt="Reloj Smart">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselRelojs_' + index" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselRelojs_' + index" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>