.reloj_carousel_small {
  width: 300px !important;
  height: 151px !important;
  display: flex;
}

.reloj_carousel_big {
  width: 430px !important;
  height: 230px !important;
  flex-shrink: 0 !important;
  margin: 10%;
  display: flex;
  vertical-align: middle;
}

.reloj_inner {
  width: 70% !important;
  height: 100% !important;
  margin-left: 30px;
}

.carousel-control-prev-icon {
  background-image: url('/assets/images/arrow_left.png') !important;
  width: 100%;
  height: 100%;
}

.carousel-control-next-icon {
  background-image: url('/assets/images/arrow_right.png') !important;
  width: 100%;
  height: 100%;
}

.btn-arrow-left-small, .btn-arrow-right-small {
  border: 0;
  background-color: transparent;
  width: 80px;
  height: 80px;
  margin-top: 5%;
  margin-left: 10%;
}

.btn-arrow-left-big, .btn-arrow-right-big {
  border: 0;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin-top: 15%;
  margin-left: 3%;
}