<div>
  <button class="btn-arrow-up" type="button"  data-bs-slide="prev" (click)="prevValue(itemValueType)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
  <h1 class="titulos_web">{{value}}</h1>
  <button class="btn-arrow-down" type="button"  data-bs-slide="next" (click)="nextValue(itemValueType)">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
