<div>
  <main class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Repetir</span>
        </div>
        <div class="col-10 col-md-8">
          <div id="carouselRepeat" class="carousel slide carousel-repeat">
            <div class="carousel-inner carousel-repeat-inner">
              <div class="carousel-item">
                <div class="row row-txt row-item">
                  <span class="carousel-txt">Una vez</span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row row-txt row-item">
                  <span class="carousel-txt">Diario</span>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row row-txt row-item">
                  <span class="carousel-txt">Semanal</span>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="row row-txt">
                  <span class="carousel-txt">Dinámico</span>
                </div>
                <div class="row days-checkboxes" *ngFor="let day of days">
                  <input
                    class="form-check-input checkbox-day"
                    type="checkbox"
                    value=""
                    id="{{ day.id }}"
                  />
                  <label
                    class="form-check-label"
                    for="{{ day.id }}"
                    >{{ day.label }}</label
                  >
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              style="width: 50px !important;"
              data-bs-target="#carouselRepeat"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselRepeat"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Tono</span>
        </div>
        <div class="col-10 col-md-8">
          <button type="button" class="btn btn-tone">
            Ringtones...
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-folder"
              viewBox="0 0 16 16"
            >
              <path
                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Vibrar</span>
        </div>
        <div class="col-10 col-md-8 switch-item">
          <div class="form-check form-switch">
            <input
              class="form-check-input switch"
              type="checkbox"
              role="switch"
              aria-checked="true"
              checked
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Nombre</span>
        </div>
        <div class="col-10 col-md-8">
          <input
            type="text"
            class="form-control input_form text_style"
            aria-describedby="basic-addon1"
            placeholder="Ingresar nombre"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Color</span>
        </div>
        <div class="col-10 col-md-8">
          <img
            src="/assets/images/btn_colores.png"
            alt="Colores"
            class="colors"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Acertijo</span>
        </div>
        <div class="col-10 col-md-8 switch-item">
          <div class="form-check form-switch">
            <input
              class="form-check-input switch"
              type="checkbox"
              role="switch"
              aria-checked="false"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-3">
          <span class="txts">Mensaje</span>
        </div>
        <div class="col-10 col-md-8">
          <textarea
            class="form-control text_area_form text_style"
            aria-label="With textarea"
          ></textarea>
        </div>
      </div>
    </div>
  </main>
</div>
