:root{
    --negro-app: #212121
    --negro-app-20: #B3B3B3
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(assets/images/fondo_full_large.png)
}
